<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogLevel="Error" internalLogToConsole="true">
	<variable name="jobId" value="${environment:variable=JOBID}"/>
	<variable name="Environment" value="${environment:variable=ENVIRONMENT}"/>
	<variable name="InvokerName" value="${environment:variable=INVOKERNAME}"/>
	<variable name="fileLogName" value="${processname}_${jobId}.log"/>
	<targets>
		<!-- layout ="${longdate} ${callsite} ${level} ${message}"  -->
		<target xsi:type="ColoredConsole" name="Console"
				layout="${event-context:item=JobId}|${event-context:item=InvokerName}|${date:format=yyyy-MM-ddTHH\:mm\:ss.fff}|${event-context:item=LogType}|${logger}|${level}|${message}|${exception:format=ToString,StackTrace}"
				header="" footer="" useDefaultRowHighlightingRules="True" errorStream="False">
			<!-- <highlight-row backgroundColor="Enum" condition="Condition" foregroundColor="Enum"/> -->
			<!-- repeated -->
			<highlight-word foregroundColor="Cyan" ignoreCase="True" regex="'[^']*'" wholeWords="False"/>
			<!-- repeated -->
		</target>
		<target name="file" xsi:type="file"
				fileName="${fileLogName}"
				layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fff}|${event-context:item=LogType}|${event-context:item=JobId}|${event-context:item=InvokerName}|${logger}|${Environment}|${message}|${exception:format=ToString,StackTrace}|${level}|${machinename}|${windows-identity:domain=False}" />
		<target name="database" type="Database">
			<connectionString>
				Data Source=
			</connectionString>
			<commandText>
				EXEC ERM_Reporting.dbo.SP_LOAD_RISK_RPT_LOG @LogTimeStamp
				,@LogType
				,@LogSource
				,@LogMessage
				,@StackTrace
				,@Severity
				,@SourceHost
				,@UserName
			</commandText>
			<parameter name="@LogTimeStamp" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fff}"/>
			<parameter name="@LogType" layout="${event-context:item=LogType}"/>
			<parameter name="@LogSource" layout="${logger}"/>
			<parameter name="@LogMessage" layout="${message}"/>
			<parameter name="@StackTrace" layout="${exception:format=ToString,StackTrace}"/>
			<parameter name="@Severity" layout="${level}"/>
			<parameter name="@SourceHost" layout="${machinename}"/>
			<parameter name="@UserName" layout="${windows-identity:domain=False}"/>
		</target>
	</targets>
	<rules>
		<logger name="*_0" writeTo="Console"/>
		<logger name="*_1" minlevel="Info" writeTo="file" />
		<logger name="*_2" minlevel="Info" appendTo="Database" />
		<logger name="*_3" minlevel="Info" writeTo="Console,file"/>
		<logger name="*_3" minlevel="Info" appendTo="Database" />
	</rules>
</nlog>
