<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
        <add key="PickupFolder" value="c:\users\rgau1\desktop\chessgames\autoanalyzer\pickup"/>
        <add key="DropFolder" value="c:\users\rgau1\desktop\chessgames\autoanalyzer\dropoff"/>
        <add key="ErrorFolder" value="c:\users\rgau1\desktop\chessgames\autoanalyzer\error"/>
        <add key="EcoFile" value="c:\programs\arenaChess\ecocodes9.txt"/>
        <add key="ArenaExe" value="c:\programs\arenaChess\arena.exe"/>
        <add key="AnalysisExe" value="c:\users\rgau1\documents\Visual Studio 2015\Projects\ArenaChessGameAnalyzer\ArenaChessGameAnalyzer.CLI\bin\Release\ArenaChessGameAnalyzer.CLI.exe"/>
        <add key="SecondsPerMove" value="10"/>
        <add key="LastMoveNumber" value="999"/>
        <add key="RetryCount" value="1"/>
        <add key="ServiceSleepIntervalMinutes" value="10"/>
    </appSettings>
</configuration>