<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="ERMReportingConnection" connectionString="metadata=res://*/ErmReportingDb.csdl|res://*/ErmReportingDb.ssdl|res://*/ErmReportingDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MNLC000PBF0W0F\SQLEXPRESS;initial catalog=ERMReporting;integrated security=True;asynchronous processing=True;connect timeout=600;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<add key="TimerDelaySeconds" value="300"/>
		<add key="LoadDirectory" value="C:\ErmService\MosesUpload"/>
		<add key="LoadedDirectory" value="C:\ErmService\MosesUpload\_LOADED"/>
		<add key="UnloadDirectory" value="C:\ErmService\MosesUpload\UnloadDir"/>
		<add key="ErrorDirectory" value="C:\ErmService\MosesUpload\Error"/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" internalLogLevel="Error" internalLogToConsole="true">
		<include file="ServiceNlog.config" />
	</nlog>
</configuration>