<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PBC_Manager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PBC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PBC_Manager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PBC.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PBC.My.MySettings.PBCConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\PBC.accdb;Persist Security Info=True;Jet OLEDB:Database Password=srl"
            providerName="System.Data.OleDb" />
        <add name="PBC_Manager.My.MySettings.PBCConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\DataBase\PBC.accdb;Persist Security Info=True;Jet OLEDB:Database Password=srl"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <PBC_Manager.My.MySettings>
            <setting name="Prod_Cntry" serializeAs="String">
                <value>03</value>
            </setting>
        </PBC_Manager.My.MySettings>
        <PBC.My.MySettings>
            <setting name="Version" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
            <setting name="Prod_Cntry" serializeAs="String">
                <value>03</value>
            </setting>
        </PBC.My.MySettings>
    </applicationSettings>
    <userSettings>
        <PBC_Manager.My.MySettings>
            <setting name="Prod_Code" serializeAs="String">
                <value>1415</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
            <setting name="AutoLogon" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoLogonTF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Default_ExpDate" serializeAs="String">
                <value />
            </setting>
        </PBC_Manager.My.MySettings>
        <PBC.My.MySettings>
            <setting name="Prod_Code" serializeAs="String">
                <value>1415</value>
            </setting>
        </PBC.My.MySettings>
    </userSettings>
</configuration>
