@{
    ViewBag.Title = "Home";
}

<div style="text-align: center;">
    <br/>
    <h1>Aeronav RPGCor</h1>
    <br />
    <hr/>
    <br />
    <h2>FlightNav ADF</h2>
    <a href="https://play.google.com/store/apps/details?id=com.rpgcor.aeronav.flightnavadf&feature=search_result#?t=W251bGwsMSwyLDEsImNvbS5ycGdjb3IuYWVyb25hdi5mbGlnaHRuYXZhZGYiXQ..">
        <img src="@Url.Content("~/content/images/ic_launcher.png")" />
        <br />
        (GPS based navigation android app)
        <br />
        FNADF
    </a>
    <br />
    <hr />
    <h2>FlightNav PlanFiler</h2>
    <a href="https://play.google.com/store/apps/details?id=com.rpgcor.aeronav.flightnavplanfiler&feature=search_result#?t=W251bGwsMSwyLDEsImNvbS5ycGdjb3IuYWVyb25hdi5mbGlnaHRuYXZwbGFuZmlsZXIiXQ..">
        <img src="@Url.Content("~/content/images/FNS_small.png")" />
        <br />
        (Flight Filing service utilizing DUATS)
        <br />
        FNPF
    </a>
    <br />
    <hr />
    <h2>FlightNav Navigation Log</h2>
    (Excel Navigation Log w/ auto weather, coms)<br />
    <a href="http://apps.rpgcor.com/4-FNL_NL/download.html" target="_self">FNNL</a>
    <br />
    <hr />
    <h2>FlightNav WebService</h2>
    (SOAP service providing generic information)<br />
    <i>[username/password not required at moment]</i><br />
    <a href="Aviation.asmx" target="_self">FNWS</a><br />
    <br />
    <br />
</div>